*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
};
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
.container{
    max-width: 100%;
    min-width: 320px;
}
.header{
    height: 100vh;
    width: auto;
    background: url(/img/fabian-grohs-dC6Pb2JdAqs-unsplash.jpg) center no-repeat;
    background-size: cover;
    position: relative;
}
.header::before {
    content:"";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(to left, rgba(153, 0, 255, 0.40),rgba(0, 51, 153, 0.60) );
    z-index: 1;
}
.header_wrap{
    position: relative;
    z-index: 2;
    color: white;
    .name{
        position: relative;
        top: 14rem;
        left: 6rem;
        font-size: 2rem;
        width: max-content;
        &>p{
            font-family: 'Montserrat', sans-serif;;
        }
        & span{
            color: rgb(255, 35, 35);
        }
    }
}
nav{
    width: 50%;
    height: 3rem;
    margin: auto;
    margin-right: 0.5rem;
    font-size: 1.7rem;;
    position: relative;
    top: 4rem;
}
ul{
   display: flex;
   justify-content: space-around; 
   height: 100%;
   align-items: center;
   
  
   & li{
       list-style: none;
      a{
        color: white;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        cursor: pointer;
      }
   }
   & > li::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: 0 auto;
    background: white;
    transition: all ease .5s;
    }
    & > li:hover::after {
    width: 100%;
    

    }                
}
.buttonUp{  
    position: sticky;
    top: 2rem;
    z-index: 2;
    & img{
        position: sticky;
        opacity: 0.9;
        top: 2rem;
        position: absolute;
        height: 3rem;
        right: -3rem;
    }
    @keyframes move {
        from {right:-3rem;}
        to {right: 2rem;}
      };
      @keyframes moveback {
        from {right:2rem;}
        to {right: -3rem;}
      }

}
.about{
    height: 50%;
    background-color: rgb(139, 114, 165);
    & > h1{
        position: relative;
        width: max-content;
        top: 4rem;
        font-size: 5rem;
        margin-left: 7rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: min($numbers: 1);
        color: white;
        & > span{
            color: rgb(255, 35, 35);
        }
    }
    .info_wraper{
        height: 100vh;
        & > .img{
            position: relative;
            top: 8rem;
            margin-left: 8rem;
            height: 20rem;
            width: 20rem;
            border: rgb(255, 255, 255) solid;
            border-radius: 165px;
            background: url(/img/indaewfex.png), center, no-repeat;
            background-size: cover;
        }
        & > .info{
            height: 15rem;
            width: 45rem;
            position: relative;
            margin-left: 36rem;
            top: -6rem;
            color: rgb(255, 255, 255);
            font-family: 'Montserrat', sans-serif;
            font-size: 30px;
            & span{
                font-size: 1.9rem;
            }
            
        }
        #skills {
            position: relative;
            bottom: 6rem;
            border-radius: 20px;
            width: max-content;
            background: wheat;
            margin-left: 36rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            justify-items: center;
            align-items: center;
            padding: 20px 0px 20px 0px ;
          
            & div{
                font-family: 'Montserrat', sans-serif;
                font-size: 30px;
                border-radius: 10px;
                
                background: rgb(128, 0, 128);
                color: #fff;
                width: max-content;
                padding: 10px;
            }
        }
    }
}
.projects{
    height: 100vh;
    position: relative;
    background-color: rgb(255, 166, 0);
    top:11rem;
    &>h1{
        position: relative;
        top: 4rem;
        width: max-content;
        margin: auto;
        font-size: 4rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: min($numbers: 1);
        color: #8b72a5;
    }
    .projects_wraper{
        position: relative;
        top: 10rem;
        left: 10rem;    
        border: rgb(128, 0, 128) solid 2px;
        height: 25rem;
        width: 75%;
        padding: 2rem;
    }
}
.contacts{
    position: relative;
    top: 11rem;
    height: 100vh;
    background: rgb(139, 114, 165); 
    .contacts1{
        height: 50%;
        background-color: rgb(255, 99, 71);
        &>h1{
            width: max-content;
            position: relative;
            top: 2rem;
            margin: auto;
            color: rgb(255, 255, 255);
        }
        &>p{
            position: relative;
            width: 45%;
            margin: auto;
            top: 4rem;
            color: white;
        }
        &>.button{
            text-decoration: none;
            outline: none;
            display: inline-block;
            padding: 10px 30px;
            margin-left: 45%;
            position: relative;
            // left: 35rem;
            top: 9rem;
            height: 4rem;
            width: 7rem;
            overflow: hidden;
            border: 2px solid #ffffff;
            font-family: 'Montserrat', sans-serif; 
            font-weight: bold;
            font-size: 1.5rem;
            color: #ffa200;
            transition: .2s ease-in-out;
          }
          .button:hover {
            border: 2px solid #ffb733;
            background: #ffb733;
            color: #fff;
          }
         
    }
    &>.contacts2{
        height: 50%;
        background-color: rgba(255, 165, 0, 0.8);
        width: 30rem;
        &>h2{
            color: white;
            position: relative;
            top: 4rem;
            left: 3rem;
        }
        &>p{
            color: white;
            position: relative;
            top: 7rem;
            left: 4rem;
            font-size: 1.5rem;

        }
        &>.mail{
           position: relative;
           margin-left: 4rem;
           top: 9rem;
        }
        &>.linkedin{
           position: relative;
           top: 9rem;
           margin-left: 10px;
        }
    }
    & form{
        position: relative;
        left: 30rem;
        & .name{
            height: 2rem;
            width: 31rem;
            background:rgba(255, 255, 255, 0.25);
            border: none;
        }
        .name::placeholder{
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            color: rgb(255, 255, 255);
        }
        & .phone{
            margin-top: 1rem;
            height: 2rem;
            width: 31rem;
            background:rgba(255, 255, 255, 0.25);
            border: none;
        }
        .phone::placeholder{
            font-size: 1rem;
            font-family: 'Montserrat', sans-serif;
            color: rgb(255, 255, 255);;
        }
        &>.mail{
                margin-top: 1rem;
                height: 2rem;
                width: 31rem;
                background:rgba(255, 255, 255, 0.25);
                border: none;
            }
            .mail::placeholder{
                font-size: 1rem;
                font-family: 'Montserrat', sans-serif;
                color: rgb(255, 255, 255);
            }
        &>button{
            text-decoration: none;
            outline: none;
            display: inline-block;
            padding: 10px 30px;
            margin: 10px 20px;
            position: relative;
            left: -21px;
            top: 1rem;
            height: 4rem;
            width: 10rem;
            overflow: hidden;
            // border: 2px solid #ff6347;
            font-family: 'Montserrat', sans-serif; 
            font-weight: bold;
            font-size: 1rem;
            color: #ff6347;
            transition: .2s ease-in-out;
            background-color: #ffffff;
            // box-shadow: rgba(255, 255, 255, 0.25);
          }
     
          button:hover {
            background: #ff6347;
            color: #fff;
          }
     
    }
}